@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&family=Playfair+Display:wght@400;700;900&display=swap');

/* font-family: 'Inter', sans-serif; */
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
img {
	display: block;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: "Playfair Display", serif;
	font-weight: 400;
}
.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
}
/* header section */
